/*nagłówek menu*/
#menuContainer {
    background-color: #111823;
    padding: 15px;
    font-family: Tungsten-Bold, arial, georgia, sans-serif;
}

.menuLinkDropdown {
    align-self: center;
}

.menuLink, .menuLinkDropdown > a {
    color: white;
}

.logoTitleLink {
    color: #FF4655;
    text-decoration: none;
}

.menuLink:hover,
.menuLink:focus,
.menuLinkDropdown:hover > a,
.menuLinkDropdown:focus > a {
    color: #FF4655;
}

/*nagłówek strony*/
.brandDesc {
    color: #FF4655;
    padding-right: 40px;
    border-right: 5px dotted grey;
}

.menuContainerComponent {
    font-weight: 700;
    font-size: 20px;
}

.menuContainerComponent .menuLink {
    padding-left: 20px !important;
    padding-right: 20px !important;
    align-self: center;
}