body {
    color: #0f1923;
    background-image: url("../../public/img/index/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("../../public/img/index/background-mobile.jpg");
    }
}

.authForms {
    font-size: 20px;
    font-family: Tungsten-Bold,arial,georgia, sans-serif;
    font-weight: bold;
}

.authForms > * {
    margin-bottom: 20px;
}