h1 {
    text-align: center;
    padding-bottom: 25px;
}

.description {
    font-size: 15px;
    text-align: justify;
}

.descLink {
    text-decoration: none;
    color: #c77dff;
}

.descLink:hover {
    color: #7DFF9E;
}